<nav id="decidir" th:fragment="modulo-decidir" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" th:text="#{Diseño.Decision.Titulo}"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{Diseño.Decision.BotonCancelar}"></button>
                <a id="btnAceptar" class="btn btn-success" th:text="#{Diseño.Decision.BotonAceptar}"></a>
            </div>
        </div>
    </div>
</nav>